<html>
<head>
    <title>PatchDart</title>

    <script type="text/javascript" src="public/bower_components/socket.io-client/socket.io.js"></script>
    <script type="text/javascript" src="public/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>

    <link rel="icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="public/bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body ng-app="PatchDart" ng-controller="mainController as main">
    <div class="site-container">
        <div class="header">
            <img src="logo.png">
            <span ng-if="main.socket"><i class="fa fa-check green-icon"></i></span>
            <span ng-if="!main.socket"><i class="fa fa-times red-icon"></i></span>
        </div>

        <div class="container">
            <label>What's your name?</label>
            <input type="text" ng-model="main.name" placeholder="player's name">
            <span ng-if="main.name">waiting for score...</span>
        </div>

        <div class="container">
            <p id="dialogue">Top players</p>
            <p id="box" ng-if="main.ranking.length" class="ranking-value" ng-repeat="score in main.ranking | orderBy : '-value'">
                {{$index+1}}) <b>{{score.name}}</b>: {{score.value}} points
            </p>
            <p ng-if="!main.ranking.length">no scores saved yet</p>
        </div>

        <div class="footer">
            <p><b>UTN FRLP</b> - Aplicaciones en Tiempo Real - <b>PatchDart</b></p>
        </div>
    </div>
</body>
</html>
